annotated-types==0.8.0
APIFlask==3.1.2
apispec==6.10.0
blinker==1.9.0
click==8.5.0
dnspython==2.8.0
email-validator==2.3.0
Flask==3.1.3
flask-cors==6.0.5
Flask-HTTPAuth==4.8.1
flask-marshmallow==1.5.0
idna==3.19
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
marshmallow==4.3.1
packaging==26.3
pydantic==2.13.5
pydantic_core==2.46.5
typing-inspection==0.4.4
typing_extensions==4.16.0
webargs==8.7.1
Werkzeug==3.1.8
